.cartaS{
    width: 15vw;
    height: 25vh;
    border-radius: 10px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    transition: all 300ms ease;
    text-decoration: none;
    color: black;
   &:hover{
    transform: translateY(10%);
    box-shadow: 0 0 5px grey;
    -webkit-box-shadow: 5px 3px 24px -4px rgb(134, 135, 139);
-moz-box-shadow: 5px 3px 24px -4px rgb(151, 151, 151);
box-shadow: 5px 3px 24px -4px rgb(151, 151, 151);
   }
}