.fondo-div {
  clip-path: polygon(0 0, 61% 0, 44% 100%, 0% 100%);
  width: 100vw;
  height: 100%;
  background: rgb(70, 144, 187);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: 0;
}
.pagina-div {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
    cursor: pointer;
  h1 {
    color: white;
    font-size: 70px;
    position: relative;
    left: 50px;
  }
  .contenedor-division {
    border-radius: 10px;
    display: flex;
   
   
    align-items: center;
    height: 65vh;
    width: 55vw;
    background-color: rgba(211, 211, 211, 0.884);
    overflow-y: scroll;
    flex-direction: column;
    gap: 50px;
    padding: 20px;
    
    .carta-div {
       
      color: black;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 27vh;
      width: 30vw;
      background: rgb(255, 255, 255);
      border-radius: 10px;
      -webkit-box-shadow: -21px 7px 128px 23px rgba(176, 176, 176, 1);
      -moz-box-shadow: -21px 7px 128px 23px rgba(176, 176, 176, 1);
      box-shadow: -21px 7px 128px 23px rgba(176, 176, 176, 1);
    font-size: 70px;
    }
  }
}
@media (max-height: 1366px) {
  .pagina-div {
  .contenedor-division {
    width: 40vw;
    right: 200px;
  }
}

}